@import 'reset';
@import 'colors';

html,
body {
  margin: 0;
  padding: 0;
  background-color: $bg-primary;
  color: $text-primary;
  font-size: 16px;
  font-family: 'Roboto', monospace;
}

.font-michroma {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button1 {
  background-color: #5C6174;
  color: $text-primary;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 1rem 1rem;
  border-radius: 3px;
  position: relative; // Nécessaire pour le pseudo-élément
  overflow: hidden; // Cache tout ce qui déborde du bouton
  z-index: 1;

  // Style du bouton avant le hover
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  transition: color 0.3s ease-in-out;

  &.is-active {
    background-color: #363843;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  }



  // Pseudo-élément pour l'effet volet
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #363843; // La couleur au hover
    z-index: -1; // Positionne derrière le texte
    transition: left 0.2s ease-in-out;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  }

  // Changement de couleur au hover
  &:hover {
    color: white; // Change la couleur du texte si souhaité

    // Animation du pseudo-élément
    &::before {
      left: 0;
    }
  }
}

.button-code-source {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #24292F;
  padding: 0.2rem 2rem;
  border-radius: 3px;
  font-size: 0.8rem;
  img {
    width: 24px;
    height: 24px;
  }
  p {
    margin: 0;
  }
}

